<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/allPostsStyle.css">
    <title>All Posts</title>
</head>

<body>
    <%-include('./partials/headerPartial')%>
        <div id="contentbox">
            <%-include('./partials/newPost')%>
            <div id="thePosts">
                <h2>All Posts</h2>
                <a href="/posts/my-posts"><button id="otherPosts">My Posts</button></a>
                <!-- loops through all posts -->
                <% allPosts.forEach((currPost)=>{%>
                <div class='post' >
                    <!-- each posts author/body -->
                    <h4>
                        <%=currPost.author%>
                    </h4>
                    <p>
                        <%=currPost.body%>
                    </p>
                    <!-- like button -->
                    <!-- if post is already likes by session user present sike button -->
                    <%if (currPost.likesById.includes(currUser._id)){%>
                        <form action="sike/<%=currPost._id%>?_method=put&currPage=all-posts" method="POST">
                            <button type="submit" class="likeButton"><span class="thumb">👎</span></button>
                            <h4 class="likes">
                                Total Likes: <%=currPost.likesById.length%>
                            </h4>
                        </form>
                        <%}else{%>
                            <!-- if post isnt already liked -->
                            <form action="like/<%=currPost._id%>?_method=put&currPage=all-posts" method="POST">
                                <button type="submit" value="like" class="likeButton"><span class="thumb">👍</span></button>
                                <h4 class="likes">
                                    Total Likes: <%=currPost.likesById.length%>
                                </h4>
                            </form>
                            <%}%>
                                <!-- delete/edit buttons only availble if the post belongs to the sessions account -->
                                <%if(currPost.author===currUser.name){%>
                                    <form action="/posts/<%=currPost._id%>?_method=delete&currPage=all-posts"
                                        method="POST">
                                        <input type="submit" value="Delete">
                                    </form>
                                    <form action="/posts/<%=currPost._id%>/edit?currPage=all-posts" method="POST">
                                        <input type="submit" value="Edit">
                                    </form>
                                    <%}%>
                </div>
                <%})%>
            </div>
    </div>
</body>

</html>